<div class="container" fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap="1rem">
  <div fxFlex fxLayout="column" fxLayoutGap="1rem">
    <div [hidden]="isLoading" fxFlex class="card-number-container" fxLayout="column" fxLayout.gt-xs="row wrap"
      fxLayout.gt-md="row" fxLayoutAlign.gt-xs="space-around start" fxLayoutGap.gt-md="1rem">

      <dsh-card-number fxFlex fxFlex.gt-xs="40" fxFlex.gt-md="100" *ngFor="let card of cardNumberList"
        [cardNumber]="card">
      </dsh-card-number>
    </div>

    <div>
      <dsh-card-line-chart></dsh-card-line-chart>
    </div>

    <div fxLayout="row" fxLayoutGap="1rem">
      <div fxFlex="50">
        <dsh-card-donut></dsh-card-donut>
      </div><!-- donut chart -->
      <div fxFlex="50">
        <dsh-card-bar></dsh-card-bar>
      </div><!-- donut chart -->
    </div>
  </div><!-- LEFT COLUMN -->

  <mat-divider [vertical]="true">
  </mat-divider>

  <div fxFlex.gt-sm="20">
    <div fxLayout="column" fxLayoutGap="1rem">
      <dsh-card-date></dsh-card-date>
      <dsh-card-weather></dsh-card-weather>
    </div>
  </div><!-- RIGHT COLUMN -->
</div>