:host {
  mat-card {
    padding: 0 !important;
    height: 80px;
    overflow: hidden;
    margin-bottom: 1rem;

    mat-card-content {
      .icon {
        margin: 1rem 2rem;
        width: 45px;
        text-align: center;
      }

      .loader {
        margin-top: 5px;
      }

      .content {
        padding: 1rem;

        .title{
          opacity: 0.68;
        }
          
        .number {
          font-size: 1.825rem;
          margin-top: 0.5rem;
          
          .currency {
            font-size: 0.875rem;
            opacity: 0.68;
          }
        }
      }
    }
  }
}