:host {
    mat-card {
        padding: 0 !important;
        height: 80px;
        overflow: hidden;

        mat-card-content {
            .icon {
                margin: 1rem 2rem;
            }

            .loader {
                margin-top: 5px;

                fa-icon {
                    font-size: 20px;
                }
            }

            .content {
                padding: 1rem;

                .title{
                    opacity: 0.68;
                }
                
                .number {
                    font-size: 1.375rem;
                    margin-top: 0.5rem;
                }
            }
        }
    }
}