@import '~@angular/material/theming';

@mixin mat-custom-card-theme($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary );
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);


  mat-card {
    padding: 0 !important;

    mat-card-header, mat-card-actions {
      padding: 1rem !important;

      mat-card-title {
        font-weight: 300;
        font-size: 1rem;
        margin-bottom: 0 !important;
        opacity: 0.78;
        font-size: 1.125rem !important;

        span.strong {
          font-weight: 500;
        }
      }
    }
  }
}