@import '~@angular/material/theming';

@mixin mat-custom-card-theme($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary );
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);


    mat-card {
      background-color: mat-color($primary) !important;
    }
}