:host {

    .loader {
        text-align: center;

        h4 {
            font-weight: 300;
            margin-top: 1rem;
        }
    }

    mat-card-title {
        fa-icon {
            margin-right: 1rem;
        }
    }
}