@import '../palettes/dark-palette';

$dsh-dark-primary: mat-palette($mat-dark-blue, 500, 300, 900);
$dsh-dark-accent: mat-palette($mat-indigo, 700, A200, 900);

// The warn palette is optional (defaults to red).
$dsh-dark-warn: mat-palette($mat-red);

$dsh-dark-theme: mat-dark-theme(
  $dsh-dark-primary,
  $dsh-dark-accent,
  $dsh-dark-warn
);


.dark-theme { 
  
  // SIDENAV
  mat-sidenav-container {

    mat-sidenav {
        background-color: mat-color($dsh-dark-primary) !important;
    }

    mat-sidenav-content {
        background-color: #151a30;
        color: #FFF;
    }
  }

  // MAT_CARD
  mat-card {
    background-color: mat-color($dsh-dark-primary) !important;

    mat-card-header {
      background-color: mat-color($dsh-dark-primary, A400);
    }
  }

  // TOOLBAR
  mat-toolbar {
    &.app-top-bar {
      background-color: mat-color($dsh-dark-primary, A400) !important;
    }
  }
}
