$dsh-light-primary: mat-palette($mat-light-blue, 500, A100, 900);
$dsh-light-accent: mat-palette($mat-teal, 500, A200, 900);

$dsh-light-warn: mat-palette($mat-red);

$dsh-light-theme: mat-light-theme(
  $dsh-light-primary,
  $dsh-light-accent,
  $dsh-light-warn
);

.light-theme {
  a {
    color: mat-color($dsh-light-accent, 500);
    text-decoration: none;

    &:hover {
      color: mat-color($dsh-light-accent, lighter);
    }
  }

	mat-card {
		background-color: #FFF !important;
    }
    
  mat-toolbar {
    &.app-top-bar {
      background-color: mat-color($dsh-light-primary, 500) !important;
      color: mat-contrast($dsh-light-primary, 500);
    }
  }
}
