$dsh-light-primary: mat-palette($mat-light-blue, 500, A100, 900);
$dsh-light-accent: mat-palette($mat-purple, 500, A200, 900);

$dsh-light-warn: mat-palette($mat-red);

$dsh-light-theme: mat-light-theme(
    $dsh-light-primary,
    $dsh-light-accent,
    $dsh-light-warn
);

.light-theme {

    // MAT_CARD
    .mat-card {
        background-color: #FFF !important; // TODO Refactoring with custom card element
    }
}
