/****************
COLORS
****************/

$grey: #cccccc;
$grey-light: #f2f2f2;
$grey-dark: #333;

$blue-light: #4FC3F7;
$blue: #0288D1;
$blue-dark: #0a1c35;

$green-light: #81C784;
$green: #5cb85c;
$green-dark: #388E3C;

$orange-light: #FFB74D;
$orange: #FF9800;
$orange-dark: #EF6C00;


$red-light: #EF5350;
$red: #E53935;
$red-dark: #C62828;
