<mat-card class="hoverable">
	<mat-card-header>
		<mat-card-title>
			<fa-icon size="lg" [icon]="['fal', 'smog']"></fa-icon>
			Carbon dioxyde (ppm)
		</mat-card-title>
	</mat-card-header>
	<mat-divider>
	</mat-divider>
	<mat-card-content>
		<mat-drawer-container>
			<mat-drawer [autoFocus]="false" class="donut-detail-content" #donutSidenav mode="over" position="end">
				<dsh-card-donut-detail [donutSidenav]="donutSidenav" [name]="donutSelected?.name"></dsh-card-donut-detail>
			</mat-drawer>
			<mat-drawer-content fxLayout="column" fxLayoutAlign="center stretch">
				<div class="loader" *ngIf="isLoading">
					<dsh-loader></dsh-loader>
					<h4>Loading datas...</h4>
				</div>
				<div *ngIf="!isLoading">
					<div echarts (chartInit)="onChartInit($event)" (chartClick)="onChartClick($event)" [options]="options"
						[theme]="theme$ | async">
					</div>
					<div>
						<span class="instruction">Click on donut value to show the prevision</span>
					</div>
				</div>	
			</mat-drawer-content>
		</mat-drawer-container>
	</mat-card-content>
</mat-card>