:host { 

  .loader {
    text-align: center;

    h4 {
        font-weight: 300;
        margin-top: 1rem;
    }
  }

  mat-card {

    mat-card-content {
      height: 450px;
    }
  }

  mat-drawer-container { 
    background-color: inherit !important;
    height: 100%;

    mat-drawer {
      min-width: 50%;
    }
  }
}