:host {

  .chat-container {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.12);

    &:hover {
      background-color: rgba(0, 0, 0, 0.24);
    }

    .avatar {
      height: 48px;
      width: 48px;
      border-radius: 50px;
      background-position: center;
      background-size: cover;
    }

    .username {
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    .last-message {
      font-size: 0.825rem;
      opacity: 0.68
    }

    .informations {
      height: 40px;

      .date-message {
        font-size: 0.75rem;
        font-style: italic;
      }

      .unread-message-count {
        padding: 4px 8px;
        background-color: #3165ae;
        border-radius: 1rem;
        margin-top: 0.5rem;
        font-size: 0.75rem
      }
    }
  }
}