<div class="app-container light-theme">
  
  <dsh-topbar 
    [appSidenav]="appSidenav" 
    [settingSidenav]="settingSidenav">
  </dsh-topbar>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav
      class="app-sidenav mat-elevation-z6"
      #appSidenav
      opened
      [fixedTopGap]="56"
      [fixedBottomGap]="0"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches">
      
      <dsh-sidenav></dsh-sidenav>
    
    </mat-sidenav>

    <mat-sidenav
      class="app-sidenav mat-elevation-z6"
      #settingSidenav
      position="end"
      [fixedTopGap]="56"
      [fixedBottomGap]="0"
      [mode]="'over'"
      [fixedInViewport]="mobileQuery.matches">
      
      <dsh-setting-panel></dsh-setting-panel>

    </mat-sidenav>

    <mat-sidenav-content>
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>