<div class="app-container light-theme">
  <mat-toolbar 
    color="primary" 
    class="mat-elevation-z3" 
    fxLayout="row" 
    fxLayoutGap="1rem">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Dashboard</h1>
  </mat-toolbar>
  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav
      class="app-sidenav mat-elevation-z6"
      #sidenav
      opened
      [fixedTopGap]="0"
      [fixedBottomGap]="0"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" >
      
      <dsh-sidenav></dsh-sidenav>
    
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>