<div class="app-container" [ngClass]="(theme$ | async) + '-theme'">
  
  <dsh-topbar 
    [appSidenav]="appSidenav" 
    [settingSidenav]="settingSidenav"
    *ngIf="isLogging$ | async">
  </dsh-topbar>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav
      class="app-sidenav mat-elevation-z6"
      #appSidenav
      [fixedTopGap]="56"
      [fixedBottomGap]="0"
      [opened]="!mobileQuery.matches && (isLogging$ | async)"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches">
      
      <dsh-sidenav></dsh-sidenav>
    
    </mat-sidenav>

    <mat-sidenav
      class="app-sidenav mat-elevation-z6"
      #settingSidenav
      position="end"
      [fixedTopGap]="56"
      [fixedBottomGap]="0"
      [mode]="'over'"
      [fixedInViewport]="mobileQuery.matches">
      
      <dsh-setting-panel></dsh-setting-panel>

    </mat-sidenav>

    <mat-sidenav-content>
      <div class="app-content" [@routerTransition]="getState(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>