<mat-card class="hoverable">
	<mat-card-header>
		<mat-card-title>
			<mat-card-title>
				<fa-icon size="sm" [icon]="['fal', 'calendar-day']"></fa-icon>
				{{ currentTime | date:'EEEE hh:mm:ss aa' }}
			</mat-card-title>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem">
		<span class="month">{{ currentTime | date:'MMMM' }}</span>
		<span class="day">{{ currentTime | date:'d' }}</span>
		<span class="year">{{ currentTime | date:'yyyy' }}</span>
	</mat-card-content>
</mat-card>