:host {
    .container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &-dark {
            background-color: #1d2231;
            color: FFF;
        }
        
        &-light {
            background-color: #fafafa;
        }

        img {
            width: 80px;
            border-radius: 50%;
            margin: 1rem 0;
            border: 5px solid rgba(0, 0, 0, 0.08);
        }
    
        .username {
            font-weight: 500;
            opacity: 0.68;
        }
    
        .role {
            font-size: 0.715rem;
            margin-bottom: 0.5rem;
            opacity: 0.48;
        }
    } 
}