<mat-card class="hoverable">
	<mat-card-header>
		<mat-card-title><span class="strong">Evolution of soda consumption</span> based on 3 months data</mat-card-title>
	</mat-card-header>
	<mat-divider>
	</mat-divider>
	<mat-card-content fxLayout="column" fxLayoutAlign="center center">
			<div class="loader" *ngIf="isLoading">
				<dsh-loader></dsh-loader>
				<h4>Loading datas...</h4>
			</div>
			<div *ngIf="!isLoading" style="width: 100%;">
					<div echarts [options]="options" [theme]="theme$ | async"></div>
			</div>
	</mat-card-content>
</mat-card>