<mat-card class="hoverable">
	<mat-card-header>
		<mat-card-title><span class="strong">Visits</span> based on 3 months data</mat-card-title>
	</mat-card-header>
	<mat-divider>
	</mat-divider>
	<mat-card-content style="height: 450px;" fxLayout="column" fxLayoutAlign="center stretch">
			<div class="loader" *ngIf="isLoading">
					<fa-icon size="5x" [icon]="['fal', 'spinner']" [spin]="true"></fa-icon>
					<h4>Loading datas...</h4>
			</div>
			<div *ngIf="!isLoading">
					<div echarts [options]="options" [theme]="theme" class="demo-chart"></div>
			</div>
	</mat-card-content>
</mat-card>